
/*ADAPTIVE DESIGN*/
$mobile: "all and (max-width: 50em)";
$desktop: "all and (min-width: 50em)";
/*END ADAPTIVE DESIGN*/

/*Some kind of reset*/
*{
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
ul{
  padding-left: 0px;
}
*:focus {
    outline: none;
}
/*Usefull Classes*/
.ibl{
  display:inline-block;
  float: left;
}
.tbl{
  display:table;
}
.tblc{
  display:table-cell;
}
.clb{
  clear:both;
}

@mixin base-gridy{
    display: inline-block;
    float: left;
    box-sizing: border-box;
}
.half{
    @include base-gridy();
    width: (100% /2);
    min-width: (100% /2);

}
.half-m{
    @include base-gridy;
    @media #{$mobile} {
        width: 100%;
        float:left;
    }
    @media #{$desktop} {
        width: (100% /2);
        float:left;
    }
}
.one-third{
    @include base-gridy;
    width: (100% /3);
    min-width: (100% /3);

}
.one-third-m{
    @include base-gridy;
    @media #{$mobile} {
        width: 100%;
        float:left;
    }
    @media #{$desktop} {
        width: (100% /3);
        float:left;
    }
}
.two-third{
    @include base-gridy;
    @media #{$mobile} {
        width: 100%;
        float:left;
    }
    @media #{$desktop} {
        width: (100% /3 * 2);
        float:left;
    }
}
.one-fourth{
    @include base-gridy;
    width: (100% /4);
    min-width: (100% /4);
}
.one-fourth-m{
    @include base-gridy;
    @media #{$mobile} {
        width: 100%;
        float:left;
    }
    @media #{$desktop} {
        width: (100% /4);
        float:left;
    }
}
.three-fourth{
    @include base-gridy;
    width: (100% /4 *3);
    min-width: (100% /4 *3);
}

.three-fourth-m {
    @include base-gridy;
    @inclide three-fourth;
    @media #{$mobile} {
        width: 100%;
    }
    @media #{$desktop} {
        width: (100% /4 *3);
        min-width: (100% /4 *3);
    }
}

.one-fifth{
    @include base-gridy;
    width: (100% /5);
    min-width: (100% /5);
}
.one-fifth-m{
    @include base-gridy;
    @media #{$mobile} {
        width: 100%;
        float:left;
    }
    @media #{$desktop} {
        width: (100% /5);
        float:left;
    }
}
.two-fifth{
    @include base-gridy;
    width: (100% /5);
    min-width: (100% /5 * 2);
}
.two-fifth-m{
    @include base-gridy;
    @media #{$mobile} {
        width: 100%;
        float:left;
    }
    @media #{$desktop} {
        width: (100% /5 * 2);
        float:left;
    }
}
.three-fifth{
    @include base-gridy;
    width: (100% /5);
    min-width: (100% /5 * 3);
}
.three-fifth-m{
    @include base-gridy;
    @media #{$mobile} {
        width: 100%;
        float:left;
    }
    @media #{$desktop} {
        width: (100% /5 * 3);
        float:left;
    }
}
.four-fifth{
    @include base-gridy;
    width: (100% /5);
    min-width: (100% /5 * 4);
}
.four-fifth-m{
    @include base-gridy;
    @media #{$mobile} {
        width: 100%;
        float:left;
    }
    @media #{$desktop} {
        width: (100% /5 * 4);
        float:left;
    }
}


@media #{$desktop} {
    .mobile{
      display:none;
    }
}
@media #{$mobile} {
    .desktop{
      display:none;
    }
}

